@model IEnumerable<DataAccess.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Search Products</h1>
<form asp-action="Search" asp-controller="Product" class="form-check-inline">
    <div class="form-group my-1">
        <input type="text" class="form-control" name="search"/><br />
    </div>
    <div class="form-group my-1">
        <input class="" type="number" min="0" max="10000" 
            step="0.1" name="priceRange1" value="0"/>
        <input class="" type="number" min="0" max="10000" 
            step="0.1" name="priceRange2" value="10000" />
    </div>
    <div class="form-group my-1">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
